@import skeleton
@import mixins

// Custom Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––
$mobile-width: 400px
$tablet-width: 700px
$desktop-width: 1024px

// Basic Structure
//––––––––––––––––––––––––––––––––––––––––––––––––––
html, body
  height: 100% // set section height as viewpoint height

body
  background-color: $primary-color // to prevent safari bounce bug
  text-transform: lowercase

h1
  font-weight: 100
  font-family: $thin

h2,h3,h4,h5,h6
  font-weight: 300

a
  text-decoration: none

p
  font-weight: 200

// Header
header
  background-color: $primary-color
  nav
    background-color: $primary-color
    display: table
    height: 10rem
    padding: 0 6rem
    position: fixed
    transform: translate3d(0,0,0);
    top: 0
    width: auto
    z-index: 1
    +transition(all .5s ease)
    +tablet
      padding: 0 4rem
      text-align: center
    +mobile
      height: 7rem
      padding: 0 3rem
    &.shrink
      // box-shadow: 0 1px 0 darken($primary-color, 5%)
      height: 7rem
    .logo
      display: table-cell
      transform: translate3d(0,0,0);
      width: 19rem
      vertical-align: middle
      +transition(all .5s ease)
      +mobile
        line-height: 7rem
      img
        vertical-align: middle
        width: 90px
        +transition(all .5s ease)
        +mobile
          width: 80px
    .nav-items
      display: table-cell
      margin: 0
      position: relative
      text-align: left
      vertical-align: middle
      +transition(all .1s ease)
      +tablet
        display: none
      li
        display: inline-block
        margin: 0 4rem 0 0
        a
          color: $link-color
          font-weight: 300
          letter-spacing: -.03rem
          text-decoration: none
          +transition(all .1s ease)
          &:hover
            color: #fff
          &.button
            border-color: $link-color
            color: $link-color
            &:hover
              border-color: #fff
          &.current
            color: #fff
        &.action
          margin: 0
          position: absolute
          right: 0
          margin-top: -5px
          a
            &.current
              border-color: #fff
    // .menu
    //   display: none
    //   float: right
    //   position: relative
    //   top: 4px
    //   +transition(all .5s ease)
    //   +tablet
    //     display: inline-block
    //     line-height:10rem
    //   +mobile
    //     line-height: 8rem
      svg
        fill: adjust_hue(lighten(desaturate($primary-color, 3), 45), 335)
        width: 26px
        +mobile
          width: 22px
        &:hover
          fill: #fff

// Sections
main
  height: 100%
  +tablet
    height: auto
  section
    border-top: 7rem solid transparent
    -webkit-background-clip: padding-box
    -moz-background-clip: padding
    background-clip: padding-box
    background-color: #fff
    box-sizing: border-box
    background-color: #fff
    display: table
    height: 100%
    margin-top: -7rem
    min-height: 600px
    padding: 8rem 10rem
    position: relative
    text-align: center
    width: 100%
    +mobile
      min-height: auto
      padding: 6rem
    p
      color: adjust_hue(lighten(saturate($primary-color, 5), 50), 330)
      font-weight: 300
      line-height: 1.8
      &.quote
        color: darken($primary-color, 10%)
        display: block
        font-size: 2.3rem
        font-weight: 200
        margin-bottom: 2rem
        &:last-child
          margin-top: 5%
    .author
      font-size: 1.6rem
      font-weight: 300
      text-decoration: none
    .row
      margin-bottom: 5%
      &.large
        p
          font-size: 1.6rem
          line-height: 2em
          &.quote
            font-size: 4.2rem
            font-weight: 200
            line-height: 1.8em
            +tablet
              font-size: 3.4rem
              font-family: $default
            +mobile
              font-size: 2.3rem
        .author
          font-size: 1.8rem
          +tablet
            font-size: 1.6rem
    .next,
    .next:hover,
    .back,
    .back:hover
      bottom: 6rem
      color: $primary-color
      font-size: 1.6rem
      font-weight: 400
      left: 0
      letter-spacing: -0.01em
      position: absolute
      right: 0
      text-decoration: none
      transform: translate3d(0,0,0);
      +transition(all .2s ease)
      +tablet
        display: none
      .arrow
        display: block
        fill: $secondary-color
        position: relative
        height: 18px
        width: 18px
      &:hover
        bottom: 6.5rem
    .next
      .arrow
        margin: 1rem auto 0 auto
    .back
      .arrow
        margin: 0 auto 1rem auto
    &#hello
      background-color: $primary-color
      border-top: 0
      margin-top: 0
      +tablet
        border-top: 7rem
      +mobile
        border-top: 0
        margin-top: 6rem
        padding-bottom: 8rem
      h1
        color: #fff
        font-size: 8rem
        line-height: 11rem
        margin: 0 auto
        transform: translate3d(0,0,0);
        max-width: 800px
        +transition(all .5s linear)
        +tablet
          font-size: 6.2rem
          line-height: 9rem
          margin-top: 6rem
          max-width: 610px
        +mobile
          font-size: 4.8rem
          line-height: 6.5rem
          margin-top: 0
          max-width: 480px
    &#hello,
    &#why,
    &#chat
      .next,
      .next:hover,
      .back,
      .back:hover
        color: #fff
        font-weight: 300
        letter-spacing: 0
    &#why,
    &#work
      .row
        margin-bottom: 0
    &#why
      background-color: darken($primary-color, 5%)
      color: #fff
      h2,
      p
        font-weight: 200
      img
        margin-bottom: 3rem
        width: 140px
        +tablet
          width: 130px
        +mobile
          width: 120px
    &#features
      background-color: #fff
      color: $primary-color
      img
        margin-bottom: 3rem
        max-width: 240px
      p
        color: darken($primary-color, 30%)
    &#work
      background-color: #fff
      a
        color: $primary-color
        +transition(all .1s ease)
        &:hover
          color: $link-color
      p
        color: darken($primary-color, 20%)
      img
        margin-bottom: 3rem
        width: 90%
        +mobile
          margin-bottom: 2rem
      .next,
      .next:hover
        color: $primary-color
    &#testimonials
      background-color: #fff
      a
        color: $secondary-color
        &:hover
          color: $secondary-link-color
      .row
        img
          border-radius: $rounded
          width: 160px
          +tablet
            width: 140px
          +mobile
            width: 120px
        .column
          +mobile
            padding-top: 10%
        &.large
          +mobile
            margin-bottom: 0
      .next,
      .next:hover
        color: $primary-color
    &#chat
      background-color: $primary-color
      color: $primary-color
      p
        color: $link-color
        font-size: 6rem
        font-weight: 100
        font-family: $thin
        +tablet
          font-size: 4.2rem
          margin: 4rem 0
        +mobile
          font-family: $default
          font-size: 1.8rem
          font-weight: 200
          margin: 2rem 0
      img
        width: 40px
  .block
    display: table-cell
    position: relative
    vertical-align: middle

// footer
//   background-color: $primary-color
//   padding: 3rem 6rem
//   img
//     width: 90px

// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––
.button
  border-radius: $rounded
  letter-spacing: -.03rem
  font-weight: 300
  +transition(all .1s ease)
  &.button-primary
    background-color: transparent
    border-color: $secondary-color
    color: $secondary-color
    padding: 15px 30px
    svg
      fill: $secondary-color
    &:hover
      border-color: #fff
      color: #fff
      svg
        fill: #fff
  &.button-secondary
    color: $primary-color
    background-color: transparent
    border-color: $primary-color
    padding: 5px 22px
    &:hover
      background-color: $primary-color
      color: #fff
